<mat-horizontal-stepper labelPosition="bottom" [linear]="false" #stepper>
  <mat-step [stepControl]="patientTabFormGroup">
    <form [formGroup]="patientTabFormGroup">
      <ng-template matStepLabel>Patient</ng-template>

      <p>Veuillez renseigner vos informations personnelles</p>

      <mat-card>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="12:1">

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Nom</mat-label>
                <input matInput placeholder="Nom" formControlName="nameCtrl" required>
                 <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="patientTabFormGroup.get('nameCtrl').hasError('required')">
                  Veuillez indiquer un nom
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Prénom</mat-label>
                <input matInput placeholder="Prénom" formControlName="firstNameCtrl" required>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="patientTabFormGroup.get('firstNameCtrl').hasError('required')">
                  Veuillez indiquer un prénom
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Téléphone</mat-label>
                <input matInput placeholder="Téléphone" formControlName="phoneCtrl" required>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error *ngIf="patientTabFormGroup.get('phoneCtrl').hasError('required')">
                  Veuillez indiquer un numéro de téléphone
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="mailCtrl" required>
                <mat-icon matSuffix>mail</mat-icon>
                <mat-error *ngIf="patientTabFormGroup.get('mailCtrl').hasError('required')">
                  Veuillez indiquer un mail
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Date de naissance</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthDateCtrl" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="patientTabFormGroup.get('birthDateCtrl').hasError('required')">
                  Veuillez choisir une date de naissance
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Sexe</mat-label>
                <mat-select formControlName="sexCtrl" required>
                  <mat-option *ngFor="let sex of sexes" [value]="sex">
                    {{sex.toString()}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="patientTabFormGroup.get('sexCtrl').hasError('required')">
                  Veuillez indiquer votre sexe
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Poids (en kilogrammes)</mat-label>
                <input matInput placeholder="Poids (en kilogrammes)" formControlName="weightCtrl" required>
                <mat-error *ngIf="patientTabFormGroup.get('weightCtrl').hasError('required')">
                  Veuillez indiquer votre poids
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Taille (en centimètres)</mat-label>
                <input matInput placeholder="Taille (en centimètres)" formControlName="sizeCtrl" required>
                <mat-error *ngIf="patientTabFormGroup.get('weightCtrl').hasError('required')">
                  Veuillez indiquer votre taille
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>
        </mat-card-content>

        <mat-card-actions>
          <div>
            <button mat-button [disabled]="true" matStepperPrevious>Retour</button>
            <button class="nextButton" mat-raised-button [disabled]="!patientTabFormGroup.valid" matStepperNext>Suivant
            </button>
          </div>
        </mat-card-actions>
      </mat-card>

    </form>
  </mat-step>

  <mat-step [stepControl]="doctorTabFormGroup">
    <form [formGroup]="doctorTabFormGroup">
      <ng-template matStepLabel>Docteur</ng-template>
      <p>Veuillez choisir un docteur :</p>

      <mat-card>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="11:1">

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Docteur</mat-label>
                <mat-select formControlName="doctorChoiceCtrl" (selectionChange)="onDoctorSelectionChange($event.value)"
                            required>
                  <mat-option *ngFor="let doctor of doctors" [value]="doctor">
                    {{doctor.title()}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="doctorTabFormGroup.get('doctorChoiceCtrl').hasError('required')">
                  Veuillez choisir votre docteur
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-label>Adresse :</mat-label>
              <mat-label> {{selectedDoctor?.address }} </mat-label>
            </mat-grid-tile>

          </mat-grid-list>
        </mat-card-content>

        <mat-card-actions>
          <div>
            <button mat-raised-button matStepperPrevious>Retour</button>
            <button class="nextButton" mat-raised-button [disabled]="!doctorTabFormGroup.valid" matStepperNext>Suivant
            </button>
          </div>
        </mat-card-actions>
      </mat-card>

    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Rendez-vous</ng-template>

    <p>Veuillez choisir une date et un horaire de rendez-vous :</p>

    <mat-card>
      <mat-card-content>

        <mat-grid-list cols="2" rowHeight="400px">

          <mat-grid-tile>
            <app-calendar #myCalendar (dateSelected)="dateSelected($event)">
            </app-calendar>
          </mat-grid-tile>

          <mat-grid-tile>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length !== 0">
              <ng-container matColumnDef="selection">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let appointment">
                  <mat-radio-button (click)="setDayAndScheduleCtrl(appointment)">
                  </mat-radio-button>
                </td>
              </ng-container>
              <ng-container matColumnDef="schedule">
                <th mat-header-cell *matHeaderCellDef> Horaires</th>
                <td mat-cell *matCellDef="let appointment"> {{appointment}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div *ngIf="dataSource.length === 0">Aucune disponibilités pour ce jour</div>
          </mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>

      <mat-card-actions>
        <div>
          <button mat-raised-button matStepperPrevious>Retour</button>
          <button class="nextButton" mat-raised-button [disabled]="!appointmentTabFormGroupe.valid" matStepperNext>
            Suivant
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Récapitulatif</ng-template>

    <p>Récapitulatif des informations saisies :</p>

    <mat-card>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="12:1">

          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Nom</mat-label>
              <input matInput [disabled]="true" value="{{patientTabFormGroup.get('nameCtrl').value}}">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Prénom</mat-label>
              <input matInput [disabled]="true" value="{{patientTabFormGroup.get('firstNameCtrl').value}}">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Téléphone</mat-label>
              <input matInput [disabled]="true" value="{{patientTabFormGroup.get('phoneCtrl').value}}">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput [disabled]="true" value="{{patientTabFormGroup.get('mailCtrl').value}}">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Docteur</mat-label>
              <input matInput [disabled]="true" value="{{selectedDoctor?.name}}">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Spécialité docteur</mat-label>
              <input matInput [disabled]="true" value="{{selectedDoctor?.speciality}}">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Date du rendez-vous</mat-label>
              <input matInput [disabled]="true" value="{{appointmentTabFormGroupe.get('dayCtrl').value}}">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Horaire du rendez-vous</mat-label>
              <input matInput [disabled]="true" value="{{appointmentTabFormGroupe.get('scheduleCtrl').value}}">
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-card-content>

      <mat-card-actions>
        <div>
          <button mat-raised-button matStepperPrevious>Retour</button>
          <button mat-raised-button (click)="openResetDialog()">Réinitialiser</button>
          <button mat-raised-button (click)="openConfirmDialog()">Valider</button>
        </div>
      </mat-card-actions>
    </mat-card>

  </mat-step>
</mat-horizontal-stepper>

