h1 {
  font-size: 2.4rem;
  font-weight: 500;
  display: inline-block;
  margin-left: 15px;
}

.mat-form-field {
  width: 90%;
}

.mat-card {
  border: solid #3F51B5;
}

.dark-theme .mat-card {
  border: solid #455a64;
}

.mat-card-content {
  display: grid;
}

.mat-card-actions {
  margin-left: auto;
  margin-right: auto;
}

.nextButton {
  float: right
}

.mat-input-element:disabled {
  color: black;
}
